*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* html { 
   font-size: 62.5%;
} */

.fa-upload {
  color: green;
  cursor: pointer;
}

.fa-file-alt{
  cursor: pointer;

}


.container {
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-quote {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.container-contact {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.filedesc-cont {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.savebtn {
  font-size: 1000px;
}